//====================================================================================================

.main-block {
  &__container {
    position: relative;
  }

  &__content {
    padding-top: rem(250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: rem(750);
  }

  &__text {
  }

  &__form {
  }

  &__icons {
  }
}
.title {
}

.button {
}
.icons-main-block {
  &__item {
    &_1 {
    }

    &_2 {
    }

    &_3 {
    }

    &_4 {
    }

    &_5 {
    }

    &_6 {
    }

    &_7 {
    }
  }
}

//====================================================================================================
